// Variables and functions
@import "variables";

// Base and layout
@import "base";

// Colors

// Components
@import "components/form";
@import "components/info-card";
@import "components/chip";
@import "components/class-grid";

// Utilities

body {
  header {
    background-color: $black;
    display: block;
    padding: 1rem;
  }

  section {
    &#main {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      background-image: url(../assets/hero.png);
      background-repeat: no-repeat;
      background-color: $black;
      background-position: top;
      background-size: 700px;
      padding: 0 20px;
      align-items: center;

      @media (min-width: 768px) {
        min-height: unset;
        flex-direction: row;
        background-size: cover;
        background-position: top right;
        align-items: flex-end;
      }

      .info {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        margin-top: 250px;

        @media (min-width: 768px) {
          margin: 0 20px 23px 115px;
          align-items: flex-start;
        }

        .title {
          font-size: 30px;
          letter-spacing: 0px;
          color: $white;
          width: fit-content;
          font-family: $font-collier;
          font-weight: normal;

          @media (min-width: 768px) {
            font-size: 45px;
          }

          &.background {
            background-color: $text-background;
            padding: 5px 14px 5px 17px;
            margin-bottom: 15px;
          }
        }
        .text {
          font-size: 16px;
          color: $white;
          margin-bottom: 28px;
        }
      }
    }

    &#second {
      background-color: $dark-blue;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      padding: $spacing-50 25px $spacing-50 21px;

      @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-around;
        padding: $spacing-50 $spacing-100;
      }
    }

    &#third {
      display: flex;
      flex-direction: column;
      align-items: center;

      h2.title {
        margin: $spacing-30 $spacing-20;
        font-family: $font-collier;
        font-size: 24px;
        font-weight: normal;
        text-align: center;
      }

      .filter-container {
        display: flex;
        justify-content: center;
        margin-bottom: $spacing-30;
      }
    }
  }
}
