.form-container {
  display: flex;
  flex-direction: column;
  background-color: $white;
  padding: $spacing-30 $spacing-24;
  border-radius: $base-radius;
  font-family: $font-source-pro;
  color: $light-black;
  align-items: center;
  max-width: 288px;
  margin-bottom: $spacing-50;

  h4 {
    font-size: $md-font-size;
  }
  .form-text {
    font-size: $sm-font-size;
    margin-bottom: $spacing-10;
  }

  @media (min-width: 768px) {
    margin-right: $spacing-100;
    margin-top: $spacing-30;
  }

  form {
    display: flex;
    flex-direction: column;

    transition: all 0.2s ease-in;

    .step {
      max-height: 0;
      transition: all 0.2s ease-in;
      display: none;

      &.active {
        display: block;
        max-height: 500px;
        transition: all 0.2s ease-in;
      }
    }

    .input-container {
      position: relative;
      display: flex;
      flex: 1;

      &.mb {
        margin-bottom: $spacing-10;
      }
    }

    input {
      padding: $spacing-8 $spacing-20 $spacing-10 $spacing-20;
      border: grey;
      z-index: 15;
      border: 1px solid $gray;
      width: 100%;

      &:focus + label.animated,
      &:not(:placeholder-shown) + label {
        transform: translateY(-20px) scale(0.8);
        transition: all 0.1s ease-in;
      }

      &:focus {
        outline-color: $light-blue;
      }

      &::placeholder {
        color: transparent;
      }
    }
    label {
      &.animated {
        z-index: 20;
        position: absolute;
        left: 21px;
        top: 9px;
        color: $dark-gray;
        transition: all 0.1s;
        background-color: $white;
        padding: 0 $spacing-8;
      }
    }

    .phone-container {
      display: flex;
      margin-bottom: $spacing-10;
      position: relative;

      .number-container {
        position: relative;
        display: flex;
        flex: 1;

        input {
          &:focus + label,
          &:not(:placeholder-shown) + label {
            transform: translateY(-20px) scale(0.8);
            transition: all 0.1s;
          }
        }

        label {
          position: absolute;
          left: 21px;
          top: 9px;
          color: $dark-gray;
          transition: all 0.1s ease-in;
          z-index: 20;
          background-color: $white;
          padding: 0 $spacing-8;
        }
      }
    }

    .select-container {
      position: relative;
      display: flex;

      select {
        padding: $spacing-8 $spacing-20 $spacing-8 $spacing-20;
        margin-bottom: $spacing-10;
        width: 100%;

        &:focus + label,
        &:valid + label {
          transform: translateY(-20px) scale(0.8);
          transition: all 0.1s ease-in;
        }

        .hidden {
          display: none;
        }
      }

      label {
        position: absolute;
        left: 25px;
        top: 10px;
        color: $dark-gray;
        transition: all 0.1s ease-in;
        z-index: 20;
        background-color: $white;
        padding: 0 $spacing-8;
      }
    }

    .checkbox-container {
      display: flex;
      align-items: center;
      margin-bottom: $spacing-8;
      justify-content: center;

      input {
        width: unset;
        margin-right: $spacing-8;
      }
    }
    button {
      padding: $spacing-10;
      background-color: $red;
      border: 0;
      color: $white;
      margin-bottom: $spacing-10;
      width: 100%;
    }
  }
  .small-text {
    font-size: $xs-font-size;

    a {
      font-size: $xs-font-size;
      text-decoration: underline;
    }

    &.mobile {
      @media (min-width: 768px) {
        display: none;
      }
    }
    &.desktop {
      display: none;
      @media (min-width: 768px) {
        display: block;
      }
    }

    &.center {
      text-align: center;
    }
  }
}
