.info-card {
  display: flex;
  align-items: flex-start;
  margin-bottom: $spacing-30;

  @media (min-width: 768px) {
    max-width: 360px;

    &:nth-child(4) {
      margin-left: $spacing-20;
    }
    &:nth-child(5) {
      margin-right: $spacing-20;
    }
  }

  img {
    width: 45px;
    height: 45px;
    margin-right: $spacing-20;
  }

  .text-container {
    display: flex;
    flex-direction: column;

    h4.title {
      color: $white;
      font-weight: 600px;
    }

    p.text {
      font-size: $sm-font-size;
      color: $dark-gray;
    }
  }
}
